.graph {
    box-sizing: border-box;
    width: 700px;
    height: 500px;
    border: 0px solid black;
    border-left-width: 1px;
    border-bottom-width: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 100px auto 0;
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

.column {
    background-color: grey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex: 1;
    position: relative;
}

.number-label {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 120%);
}